.choice{
  /* box-shadow: 0 4px 10px -7px black; */
  padding: 10px 7px;
  width: 100%;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  font-size: 20px;
  color: white;
  background: transparent;
  border: none;
  transition: color 0.377s ease-in;
}

.choice:hover{
  color: lightslategray;
}

.choicesContainer {
  padding-top: 15%;
  position: absolute;
  bottom: 100px;
  right: 50px;
  width: 700px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
  display: none;
}