@font-face {
  font-family: 'Populationzerobb';
  src: url(../fonts/Populationzerobb-ZDXK.otf) format('opentype');
}
@font-face{
  font-family: 'Scorched';
  src: url(../fonts/Scorchedearth-4Ljp.otf) format('opentype');
}

body{
  margin: 0;
}

.fill{
  height: 100vh;
}

.nav{
  /* background: goldenrod; */
  position: absolute;
  width: 100%;
  /* width: 40%;
  float: right; */
}

.nav h2{
  margin: 0 10px;
  color: white;
}

.navContent{
  display: flex;
  justify-content: flex-end;
}

.nav button, .nav a{
  border: 1px solid red;
  background: silver;
  display: inline-block;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-family:Populationzerobb;
  text-decoration: none;
  text-align: center;
}

/* .background{
  background: black;
  height: 110%;
  width: 60%;
  float: left;
  background: url(https://wallpapermemory.com/uploads/223/haunted-background-hd-1280x960-447035.jpg);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */

.content{
  /* width: 40%; */
  height: 100%;
  /* float: right; */
  background: black; 
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border: green 1px solid;
  text-align: center; */
}
.inner{
  padding: 50px;
  height: 100%;
  box-sizing: border-box;
}
/* .content h1{
  overflow: hidden;
  border-right: .15em solid goldenrod;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40,end);
}

@keyframes typing{
  from { width: 0;}
  to { width: 100%}
} */